{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<div class="w-full flex justify-center ">
	<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
			<tr class="text-center">
				<th scope="col" class="py-3 px-6">N° Comprobante</th>
				<th scope="col" class="py-3 px-6">Fecha</th>
				<th scope="col" class="py-3 px-6">Medio de pago</th>
				<th scope="col" class="py-3 px-6">Total</th>
			</tr>
		</thead>
		<tbody id="tbody">
		</tbody>
	</table>
</div>
<template id="tbody-template">
	<tr
		class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-center hover:bg-gray-50 hover:bg-gray-50 dark:hover:bg-gray-600">
		<th class="py-2 px-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" id="numero-comprobantes">

		</th>
		<td class="py-2 px-4" id="fecha-comprobantes"></td>
		<td class="py-2 px-4" id="pago-comprobantes"></td>
		<td class="py-2 px-4" id="total-comprobantes"></td>
	</tr>

</template>
{% block script %}
<script src="{{ url_for('static', filename='js/peticiones.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/comprobantes.js' ) }}"></script>
{% endblock %}
{% endblock %}