{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<div id="products" class="p-3 grid grid-cols-4 gap-4">

</div>

<template id="card-template">

	<div class="w-full max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
		<div class="px-5 pb-5">
			<div class="text-center">
				<h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"></h5>
			</div>
			<div class="flex flex-col dark:text-white">
				<ul>
					<li>Id: <span></span></li>
					<li>Cantidad: <span></span></li>
					<li>Precio unitario: <span></span></li>
				</ul>
			</div>
			<div class="flex items-center justify-center">
				<p class="text-3xl font-bold text-gray-900 dark:text-white">$ <span></span></p>
			</div>
		</div>
	</div>
</template>

{% block script %}
<script src="{{ url_for('static', filename='js/peticiones.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/detalles.js' ) }}"></script>
{% endblock %}
{% endblock %}